head
    title Hello from pug
    meta(name='description' content='Jade(Pug) vs Ejs')
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/styles/style.css')