<head>
    <title>Hello EJS</title>
    <meta name="description" content="Jade(Pug) vs Ejs">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/styles/style.css">
</head>