<!DOCTYPE html>
<html lang="ru" dir="ltr">
<%- include ./common/head.ejs %>
<body>
<%- include ./common/header.ejs %>
<main class="wrapper col">
    <h1><%=message%></h1>
</main>
<%- include ./common/footer.ejs %>
</body>
</html>